{% extends 'base.html' %}
{% block titile %}
    <title>Todo App - Login</title>
    {% endblock titile %}

{% block content %}
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f4f4f4; ">



    <div style="margin: 50px auto; background: white; padding: 40px; border-radius: 12px; box-shadow: 0 4px 20px rgba(73, 72, 70, 0.1); display: flex; flex-direction: column; align-items: center; max-width: 400px;">
        <h2 style="color: #333;">Login</h2>
        
        <form method="POST" style="width: 100%; display: flex; flex-direction: column; gap: 15px;">
         {% csrf_token %}
         {{form.as_p}}
         <div style="display: flex; justify-content: center;">
             <button type="submit" style="width: 30%; background-color:rgb(35, 136, 231); color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s ease;" onmouseover="this.style.backgroundColor='rgb(87, 164, 236)'" onmouseout="this.style.backgroundColor='rgb(35, 136, 231)';">Login</button>
         </div>
       
        </form>
    </div>
</body>
{% endblock content %}